.error-indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.error-indicator img {
  margin-top: -10rem;
  width: 80%;
  left: 0;
  right: 0;
  top: -5rem;
  z-index: -1;
}

.error-indicator .boom {
  font-size: 1.7rem;
}
