.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.layout {
  display: grid;

  grid-template-columns: 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .layout {
    grid-template-columns: 3fr 9fr;
  }
}